@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin heading-center {
  display: flex;
  justify-content: center;
}

@mixin border {
  border: 1px solid $border-color;
  border-radius: 5px;
}
